In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("IMDB Dataset.csv")

In [3]:
df
# GRADIENT DESCENT=

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
import nltk

In [5]:
import re
import gensim

In [6]:
# remove tags
def rem_tag(text):
    cleaned_text=re.sub(re.compile('<.*?>'),'',text)
    return cleaned_text

In [7]:
df["review"]=df["review"].apply(rem_tag)

In [8]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. The filming tec...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [9]:
df["review"]=df["review"].apply(lambda x:x.lower())

In [10]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [11]:
from nltk.corpus import stopwords
stop_word=stopwords.words("english")
from nltk.tokenize import word_tokenize
# from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer

In [12]:
def rem_stopwords(text):
    rem_stopwords=[i for i in text.split() if i not in stop_word]
    rem_stopwords=' '.join(rem_stopwords)
    return rem_stopwords

In [13]:
# token=[]
# lemme= WordNetLemmatizer()
# stop_words=stopwords.words("english")
# for i in df["review"]:
#     word=word_tokenize(i)
#     lemmatize=[lemme.lemmatize(i) for i in word if i not in stop_words]
#     token.append(' '.join(lemmatize))

In [14]:
df["review"]=df["review"].apply(rem_stopwords)

In [15]:
df

                                                  review sentiment
0      one reviewers mentioned watching 1 oz episode ...  positive
1      wonderful little production. filming technique...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically there's family little boy (jake) thi...  negative
4      petter mattei's "love time money" visually stu...  positive
...                                                  ...       ...
49995  thought movie right good job. creative origina...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  i'm going disagree previous comment side malti...  negative
49999  one expects star trek movies high art, fans ex...  negative

[50000 rows x 2 columns]

In [16]:
df1=df.copy()

In [17]:
df1

                                                  review sentiment
0      one reviewers mentioned watching 1 oz episode ...  positive
1      wonderful little production. filming technique...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically there's family little boy (jake) thi...  negative
4      petter mattei's "love time money" visually stu...  positive
...                                                  ...       ...
49995  thought movie right good job. creative origina...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  i'm going disagree previous comment side malti...  negative
49999  one expects star trek movies high art, fans ex...  negative

[50000 rows x 2 columns]

In [18]:
# remove numbers
def remove_num(text):
    text=re.sub('[0-9]+', '',text )
    return text

In [19]:
df1["review"]=df1["review"].apply(remove_num)

In [20]:
df1

                                                  review sentiment
0      one reviewers mentioned watching  oz episode h...  positive
1      wonderful little production. filming technique...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically there's family little boy (jake) thi...  negative
4      petter mattei's "love time money" visually stu...  positive
...                                                  ...       ...
49995  thought movie right good job. creative origina...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  i'm going disagree previous comment side malti...  negative
49999  one expects star trek movies high art, fans ex...  negative

[50000 rows x 2 columns]

In [21]:
from nltk import sent_tokenize
from gensim.utils import simple_preprocess

In [22]:
text=[]
for i in df1["review"]:
    txt=sent_tokenize(i)
    for j in txt:
        text.append(simple_preprocess(j))

In [23]:
# text

In [24]:
len(text)

534136

In [25]:
# tagged_document=[]
# for i,v in enumerate(df1["review"]):
#     tagged_document.append(gensim.models.doc2vec.TaggedDocument(v,[i]))

In [26]:
# tagged_document
model=gensim.models.Word2Vec(min_count=2,window=15)
model.build_vocab(text)

In [27]:
# model=gensim.models.Doc2Vec(tagged_document,window=5,vector_size=100,min_count=2)

In [30]:
model.train(text,total_examples=model.corpus_count,epochs=model.epochs)

(29767794, 31125860)

In [35]:
# model.wv.index_to_key

In [31]:
len(model.wv.index_to_key)

62176

In [32]:
def document_vector(doc):
    # remove out-of-vocabulary words
    doc = [word for word in doc.split() if word in model.wv.index_to_key]
    return np.mean(model.wv[doc], axis=0)

In [33]:
document_vector(df1['review'].values[0])

array([ 0.3118362 ,  0.23642266,  0.2982906 ,  0.03939117,  0.34103853,
       -0.21523367, -0.13725227,  0.5302236 ,  0.36675188,  0.12997225,
       -0.01789006, -0.04555456,  0.37094057,  0.08168715, -0.309765  ,
       -0.31659877,  0.3316389 ,  0.01244317,  0.20347899, -0.32386667,
        0.26014978,  0.3143461 , -0.04213265, -0.03475146, -0.01374673,
       -0.1384787 ,  0.23105393, -0.47784534, -0.03168509, -0.03729546,
        0.35000265, -0.07596011, -0.30293882, -0.0536283 , -0.14231864,
        0.00668444,  0.05431973, -0.11609175, -0.02549709, -0.24505097,
       -0.08494196,  0.3584341 , -0.12820724, -0.23861988,  0.38294035,
       -0.2662911 , -0.50368434, -0.01350238, -0.14884041,  0.09689847,
        0.2902494 , -0.426849  , -0.01102157, -0.87144905,  0.19864558,
        0.37656185,  0.27807966, -0.59686023, -0.33152452, -0.0961251 ,
       -0.06974239, -0.23317216, -0.24979499,  0.00164981, -0.04288796,
        0.02314726, -0.11986542,  0.14325844,  0.17529821, -0.12872067,
        0.16004662, -0.32013395, -0.24824871,  0.09218228,  0.62568724,
       -0.5805805 , -0.00310222, -0.40189263, -0.41742164,  0.22672953,
        0.0566996 , -0.00867581, -0.16696559, -0.06515031,  0.09565035,
       -0.3098065 ,  0.44540402, -0.04920262,  0.5923779 , -0.15080546,
        0.45050386, -0.16581202, -0.02260822,  0.2223832 ,  0.20133568,
        0.34888965,  0.00711321, -0.42703813,  0.4968485 ,  0.61819905],
      dtype=float32)

In [36]:
# visualization
from tqdm import tqdm

In [41]:
X = []
for doc in tqdm(df1['review'].values):
    X.append(document_vector(doc))

 62%|█████████████████████████████████████████████▉                            | 31072/50000 [1:26:44<52:50,  5.97it/s]

ValueError: need at least one array to concatenate