In [1]:
import sklearn
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("spam.csv",encoding="latin-1")

In [3]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
data.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1,inplace=True)

In [5]:
data.columns=["label","text"]

In [6]:
data

     label                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [8]:
label1=label.fit_transform(data["label"])

In [9]:
label1

array([0, 0, 1, ..., 0, 0, 0])

In [10]:
x=data["text"]
y=label1

In [11]:
# we want to preprocess  (tokenise,stopwords remove numbers removal)x before doing xtrain,ytrain

In [12]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: text, Length: 5572, dtype: object

In [13]:
y

array([0, 0, 1, ..., 0, 0, 0])

In [14]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=.8,random_state=1)

In [15]:
len(xtrain),len(xtest)

(4457, 1115)

In [16]:
from keras.preprocessing.text import Tokenizer

In [17]:
from keras_preprocessing.sequence import pad_sequences
# make same shape

In [18]:
tokenizer=Tokenizer()

In [19]:
tokenizer.fit_on_texts(xtrain)

In [51]:
import tensorflow

In [40]:
xtrain_sequence=tokenizer.texts_to_sequences(xtrain)
xtest_sequence=tokenizer.texts_to_sequences(xtest)

In [ ]:
xtrain_sequence

In [ ]:
xtest_sequence

In [ ]:
xtrain_padsequence=pad_sequences(xtrain_sequence,50)

In [ ]:
xtest_padsequence=pad_sequences(xtrain_sequence,50)

In [41]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Embedding,Dense,Flatten,LSTM

In [42]:
model=Sequential()

In [43]:
model.add(Embedding(len(tokenizer.index_word)+1,32))
model.add(LSTM(32,return_sequences=True))
model.add(LSTM(32))
model.add(Dense(32,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
# model= Sequential()
# model.add(Embedding(len(tokenizer.index_word)+1,32))
# model.add(LSTM(32,dropout=0,recurrent_dropout=0,return_sequences=True))
# model.add(LSTM(32))
# model.add(Dense(32,activation='relu'))
# model.add(Dense(1,activation='sigmoid'))
# model.summary()

In [ ]:
# tokenizer.index_word

In [44]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, None, 32)          256160

 lstm_2 (LSTM)               (None, None, 32)          8320

 lstm_3 (LSTM)               (None, 32)                8320

 dense_2 (Dense)             (None, 32)                1056

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 273,889
Trainable params: 273,889
Non-trainable params: 0
_________________________________________________________________

In [45]:
import keras.backend as k

In [29]:
# .backend keras library for calculations

In [46]:
def recall(y_true,y_pred):
    true_positive=k.sum(k.round(k.clip(y_true*y_pred,0,1)))
    possible_positive=k.sum(k.round(k.clip(y_true,0,1)))
    recall=true_positive/(possible_positive+k.epsilon())
    return recall

In [47]:
def precision(y_true,y_pred):
    true_positive=k.sum(k.round(k.clip(y_true*y_pred,0,1)))
    predicted_positives=k.sum(k.round(k.clip(y_pred,0,1)))
    precision=true_positive/(predicted_positives+k.epsilon())
    return precision

In [48]:
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy

ValueError: invalid literal for int() with base 10: 'Sleeping nt feeling well'

In [49]:
model.compile(optimizer="Adam",loss="BinaryCrossentropy",metrics=["accuracy",precision,recall])

In [50]:
hist=model.fit(xtrain_pad,ytrain,epochs=10,batch_size=15,validation_data=[xtest_pad,ytest])

NameError: name 'xtrain_pad' is not defined

In [ ]:
history=hist.history

In [ ]:
history

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
for i in ['accuracy','precision','recall']:
    acc=hist.history[i]
    val_acc=hist.history['val_{}'.format(i)]
    epochs=range(1,len(acc)+1)
    
    plt.figure()
    plt.plot(epochs,acc,label='Trainning Accuracy')
    plt.plot(epochs,val_acc,label='Validation Accuracy')
    plt.title('Result for {}'.format(i))
    plt.legend()
    plt.show()

In [ ]:
accuracy=model.evaluate(xtest_pad,ytest)

In [ ]:
input=["azim is good ans aisha is smart"]

In [ ]:
a=tokenizer.texts_to_sequences(input)

In [ ]:
a

In [ ]:
b=pad_sequences(a)

In [ ]:
b

In [ ]:
predict=np.argmax(model.predict(b),axis=1)

In [ ]:
label.inverse_transform(predict)